.section-portrait{
    
    &--container{
        margin-bottom: 8.33333vw;
        height: 100vh;
        display: flex;
        position: relative;
        flex-direction: row-reverse;

        @media screen and (max-width:1024px){
            height: 80vh;
        }

        &-right{
            flex-direction: row;
        }

        &-center{
            align-items: center;
            justify-content: center;
        }
    }

    &--secondary-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 60%;

        img{
            width: 50%;

            @media screen and (max-width:1024px){
                width: 80%;
            }
        }

        &-right{
          flex-direction: column;
          justify-content: space-evenly;
        }
    }

    &--main-image{
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 35vw;
        height: 40vw;
        object-fit: cover;

        @media screen and (max-width:1024px){
            width: 40vw;
            height: 45vw;
        }

        &-right{
            right: -5%;
            @media screen and (max-width:1024px){
                right: -20%;
            }
        }

        &-left{
            left: 35%;

            @media screen and (max-width:1024px){
                left: 22%;
            }
            
        }
    }

    &--centered-container{
        width : 70%;
        height: 80vh;
        justify-self: center;
        position: relative;

        img{
            width: 50%;

            @media screen and (max-width:1024px){
                width: 70%;
            }
            position: absolute;
            top : 50%;
            transform: translateY(-50%);
            &:first-child{
                left: -10%;
                width: 40%;
            }

            &:last-child{
                right: -10%;
            }
        }
    }

}