.section-portrait{
    
    &--container{
        margin-bottom: 8.33333vw;
        height: 100vh;
        display: flex;
        position: relative;
        flex-direction: row-reverse;

        &-right{
            flex-direction: row;
        }

        &-center{
            align-items: center;
            justify-content: center;
        }
    }

    &--secondary-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 50%;

        img{
            width: 50%;
        }

        &-right{
          flex-direction: column;
          justify-content: space-evenly;
        }
    }

    &--main-image{
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 40%;
        height: 80%;
        object-fit: cover;

        &-right{
            right: 0;
        }

        &-left{
            left: 35%;
        }
    }

    &--centered-container{
        width : 70%;
        height: 80vh;
        justify-self: center;
        position: relative;

        img{
            width: 50%;
            position: absolute;
            top : 50%;
            transform: translateY(-50%);
            &:first-child{
                left: -10%;
                width: 40%;
            }

            &:last-child{
                right: -10%;
            }
        }
    }

}