@import "/src/scss/abstracts/variable";
@import "/src/scss/shared/links";

.nav--container{
    position : relative;
    .main--nav{
        border-bottom: 2px solid $color-border;
        padding: 2rem 3rem;
        display: flex;
        align-items: center;

        &--logo{
            padding-right: 2rem;
            width: 3.75em;
            height: 1.75em;
            position: relative;
            z-index: 5;
        }

        &--img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &--links{
            list-style: none;
            display: flex;
            flex: 1 1;
        }

        &--link{
            @extend %link--hidden;
            &:not(:first-child){
                margin-left: 1rem;
            }
            margin-right: 1rem;
            font-weight: 500;
            cursor: pointer;
        }

        &--credentials{
            list-style: none;
            display: flex;
        }

        &--free{

        }

        &--logSign{

        }

        &--opener{
            background: none;
            border: 0;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            font-size: 1.7rem;
            position: relative;
            z-index: 5;
        }

        &--mobile-nav-container{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            min-height: 100vh;
            opacity: 0.6;
            background-color: $color-pure-blue;
            transform: translateY(-100%);
            padding: 5rem 2.5rem;
            padding-top: 9rem;
            color: $color-white;
            z-index: 3;
            transition: all .5s ease-in-out;

        }

        &--mobile--links {
            font-size: 2rem;
        }

        &--mobile--link{
            &:not(:first-child){
                padding-top: 2rem;
            }

            &:hover{
                filter: brightness(80%);
            }

            cursor: pointer;
            padding-bottom: 2rem;
        }
        
        &--mobile-slide-in{
            opacity: 1;
            transform: translateY(0%);
        }
    }

    .secondary--nav{
        padding: 2rem 3rem;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;

        &--links{
            list-style: none;
            display: flex;
            flex: 1 1;
        }

        &--link{
            @extend %link--hidden;
            &:not(:first-child){
                margin-left: 1rem;
            }
            margin-right: 1rem;
            font-weight: 500;
            cursor: pointer;
        }
    }
}