<div class="nav--container">
    <nav class="main--nav">
        <a class="main--nav--logo">
            <img class="main--nav--img" src="assets/img/logo.svg" alt="logo"/>
        </a>
        <ul class="main--nav--links">
            <li class="main--nav--link">Live</li>
            <li class="main--nav--link">Push</li>
            <li class="main--nav--link">Note</li>
            <li class="main--nav--link">Link</li>
            <li class="main--nav--link">Shop</li>
            <li class="main--nav--link">Packs</li>
            <li class="main--nav--link">Help</li>
            <li class="main--nav--link u-color-bright-orange">More </li>
        </ul>
        <ul class="main--nav--credentials">
            <li class="main--nav--link main--nav--free u-color-pure-blue">Try Live for free</li>
            <li class="main--nav--link main--nav--logSign">Log in or register</li>
        </ul>
    </nav>
    <nav class="secondary--nav">
        <ul class="secondary--nav--links">
            <li class="secondary--nav--link u-color-bright-orange">About</li>
            <li class="secondary--nav--link">Jobs</li>
            <li class="secondary--nav--link">Apprenticeships</li>
        </ul>
    </nav>
</div>