<div class="nav--container">
    <nav class="main--nav">
        <a class="main--nav--logo">
            <img src="assets/img/logo.svg" alt="logo"/>
        </a>
        <ul class="main--nav--links">
            <li class="main--nav--link">Live</li>
            <li class="main--nav--link">Push</li>
            <li class="main--nav--link">Note</li>
            <li class="main--nav--link">Link</li>
            <li class="main--nav--link">Shop</li>
            <li class="main--nav--link">Packs</li>
            <li class="main--nav--link">Help</li>
            <li class="main--nav--link">More+</li>
        </ul>
        <ul class="main--nav--credentials">
            <li class="main--nav--free"></li>
            <li class="main--nav--logSign"></li>
        </ul>
    </nav>
    <nav class="secondary--nav">

    </nav>
</div>