<div class="nav--container">
    <nav class="main--nav" *ngIf="!isMobile">
        <a class="main--nav--logo">
            <img class="main--nav--img" src="assets/img/logo.svg" alt="logo"/>
        </a>
        <ul class="main--nav--links">
            <li class="main--nav--link">Live</li>
            <li class="main--nav--link">Push</li>
            <li class="main--nav--link">Note</li>
            <li class="main--nav--link">Link</li>
            <li class="main--nav--link">Shop</li>
            <li class="main--nav--link">Packs</li>
            <li class="main--nav--link">Help</li>
            <li class="main--nav--link u-color-bright-orange">More </li>
        </ul>
        <ul class="main--nav--credentials">
            <li class="main--nav--link main--nav--free u-color-pure-blue">Try Live for free</li>
            <li class="main--nav--link main--nav--logSign">Log in or register</li>
        </ul>
    </nav>
    <nav class="main--nav" *ngIf="isMobile">
        <a class="main--nav--logo">
            <svg aria-hidden="true" focusable="false" class="main-nav__logo__image" [ngStyle]="{'fill' : navMenuOpen ? '#fff' : '#000', 'transition' : '.5s ease'}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45 21">
                <path d="M0 0h3v21H0zM6 0h3v21H6zM12 0h3v21h-3zM18 0h3v21h-3zM24 18h21v3H24zM24 12h21v3H24zM24 6h21v3H24zM24 0h21v3H24z"></path>
            </svg>
        </a>
        <button (click)="toggleMenu()" class="main--nav--opener" [ngStyle]="{color : navMenuOpen ? '#fff' : '#000', 'transition' : '.5s ease'}">
            Menu <span class="material-symbols-outlined" [ngStyle]="{'transform': navMenuOpen ? 'rotate(180deg)' : 'rotate(0)' }">
            arrow_drop_down
            </span>
        </button>
        <div class="main--nav--mobile-nav-container" [ngClass]="{'main--nav--mobile-slide-in' : navMenuOpen}">
            main nav
        </div>
    </nav>
    <nav class="secondary--nav">
        <ul class="secondary--nav--links">
            <li class="secondary--nav--link u-color-bright-orange">About</li>
            <li class="secondary--nav--link">Jobs</li>
            <li class="secondary--nav--link">Apprenticeships</li>
        </ul>
    </nav>
</div>