$color-light-yellow: #fbffa7;
$color-bright-orange: #ff764d;
$color-light-blue: #b1c5ff;
$color-light-purple: #d5b3ff;
$color-light-green: #b6ffc0;
$color-pure-blue: #0000ff;
$color-white: #fff;
$color-black: #000;
$color-border: #eeeeee;

$ease-in-out: cubic-bezier(0.77, 0, 0.175, 1);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);