<footer class="footer-container">
    <div class="footer-container--row">
        <h2 class="mark">Ableton</h2>
    </div>
    <div class="footer-container--row">
        <app-grouped-link
            [links]="links"
        ></app-grouped-link>
        <app-grouped-link
            title="Education"
            [links]="educationLinks"
        ></app-grouped-link>
        <app-grouped-link
            title="Sign up to our news letter"
            desc="Enter your email address to stay up to date with the latest offers, tutorials, downloads, surveys and more."
        >
            <form action="#" class="footer-container--newsletter-container">
                <input class="footer-container--input" placeholder="Email Address" type="email">
                <button class="footer-container--btn">Sign up</button>
            </form>
            
        </app-grouped-link>
    </div>
    <div class="footer-container--row">
        <app-grouped-link
            title="Community"
            [links]="communityLinks"
        >
        </app-grouped-link>
        <app-grouped-link
            title="Language and Location"
        >
            <select class="footer-container--select">
                <option value="English">English</option>
            </select>
            <select class="footer-container--select">
                <option value="France">France</option>
            </select>
        </app-grouped-link>
    </div>
    <div class="footer-container--row">
        <nav class="footer--nav">
            <ul class="footer--nav--links">
                <li class="footer--nav--link">Contact</li>
                <li class="footer--nav--link">Press Resources</li>
                <li class="footer--nav--link">Legal Info</li>
                <li class="footer--nav--link">Privacy Policy</li>
                <li class="footer--nav--link">Cookie Settings</li>
                <li class="footer--nav--link">Imprint</li>
            </ul>
            <div class="footer--nav--copy">
                <p>Made in Berlin</p>
                <a class="footer--nav--logo">
                    <img class="footer--nav--img" src="assets/img/logo.svg" alt="logo"/>
                </a>
            </div>
        </nav>
    </div>
</footer>