@import "/src/scss/abstracts/variable";

.grouped-link-container{
    font-size: 2rem;
    &--title{
        font-weight: 500;
        margin-bottom: 1rem;
    }

    &--link{
        margin-bottom: 1rem;
        a {
            text-decoration: none;
            color: $color-black;
        }
    }

    &--desc{
        margin-bottom: 1rem;
    }
}